<div class="row justify-content-center mt-5 mb-5">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h5></h5>
        <h5 class="card-title">User Registration</h5>
      </div>
      <form #userForm = 'ngForm'>
        <div class="card-body">
          <input type="hidden" #_id='ngModel' name="_id" 
          [(ngModel)] = 'userService.selectedUser._id'>

          <div class="form-group">
            <label for="email">Name</label>
            <input type="text" 
            class="form-control" 
            #name='ngModel' 
            name="name" 
            required 
            [class.is-invalid] = 'name.invalid && name.touched'
            [(ngModel)] = 'userService.selectedUser.name'
            autocomplete="off">
            
            <span class="invalid-feedback" 
            *ngIf = 'name.invalid && name.touched'>
            Name is required</span>
          </div>


          <div class="form-group">
            <label for="email">Age</label>
            <input type="email" class="form-control" #age='ngModel' name="age" 
            autocomplete="off" [(ngModel)] = 'userService.selectedUser.age'>
          </div>

          <div class="form-group">
            <label for="email">Phone No</label>
            <input type="email" class="form-control" #phone='ngModel' name="phone" autocomplete="off" [(ngModel)] = 'userService.selectedUser.phone'>
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" 
            #email='ngModel' 
            name="email" 
            required
            [class.is-invalid] = 'email.invalid && email.touched'
            [(ngModel)] = 'userService.selectedUser.email'
            autocomplete="off">

            <span class="invalid-feedback" 
            *ngIf = 'name.invalid && name.touched'>
            Email is required</span>
          </div>


          <div class="form-group">
            <label for="email">Password</label>
            <input type="password" class="form-control" 
            #password='ngModel' 
            name="password" 
            required
            [class.is-invalid] = 'password.invalid && password.touched'
            [(ngModel)] = 'userService.selectedUser.password'
            autocomplete="off" >

            <span class="invalid-feedback" 
            *ngIf = 'password.invalid && password.touched'>
            Please Enter your password</span>
          </div>


          <div class="form-group mb-4">
            <label for="role">You are ?</label>
            <select class="form-control" name="role" #role='ngModel' 
            [(ngModel)] = 'userService.selectedUser.role' >
              <option value="patient" >Patient</option>
              <option value="doctor" >Doctor</option>
            </select>
          </div>
          
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary"
          (click) = 'onSubmit(userForm)' 
          [disabled]="!userForm.valid">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>