<div class="row">
    <div class="col-md-3 p-0">
        <div class="left-section">
            <input type="text" placeholder="Search" class="form-control">
            <ul class="list-group">
                <li class="list-group-item" routerLinkActive='active' routerLink='home'>
                    Home
                </li>
                <li class="list-group-item" routerLinkActive='active' routerLink='doctor-list'>
                    Doctor List
                </li>
                <li class="list-group-item" routerLinkActive='active' routerLink='history'>
                    History
                </li>
                <li class="list-group-item" routerLinkActive='active' routerLink='profile'>
                    User Profile
                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>
