<div class="row mt-4 mb-3">

  <!-- Left section for list of menu -->
  <div class="col-md-2 p-0">
      <div class="list-group">

          <a class="list-group-item list-group-item-action active text-center text-white">List of Action</a>

          <a routerLink='tdf-complete-form-details' routerLinkActive="list-group-item-info"  class="list-group-item list-group-item-action">Complete Form Details</a>

          <a routerLink='tdf-simple-validation' routerLinkActive="list-group-item-info"  class="list-group-item list-group-item-action">Simple Validation</a>

          <a routerLink='tdf-custom-validation' routerLinkActive="list-group-item-info"  class="list-group-item list-group-item-action">Custom Validation</a>



        </div>
  </div>

  <!-- Right section fir showing component details -->
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>

</div>
