<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-white" routerLink = '/login' routerLinkActive = 'active' >Patient Booking App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"
          routerLink = '/login'
          routerLinkActive = 'active'
          *ngIf='!userService.loggedIn()'
          >Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
          routerLink = '/register'
          routerLinkActive = 'active'
          *ngIf='!userService.loggedIn()'
          >Register</a>
        </li>

        <li class="nav-item mr-5">
          <a class="nav-link"
          *ngIf='userName'
          >Welcome {{ userName }}</a>
        </li>

        <li class="nav-item dropdown" style="cursor: pointer;">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" *ngIf='userService.loggedIn()' aria-haspopup="true" aria-expanded="false">
            User Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf='userService.loggedIn()'>
            <a class="dropdown-item"  style="cursor: pointer;" >Profile</a>
            <a class="dropdown-item"  style="cursor: pointer;" (click) = logOut() >Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <span>© 2019 SpanIdea System Pvt. Ltd. All Rights Reserved | Design By Rehan Sk</span>
</footer>
