<mat-card>
  <mat-spinner *ngIf='isLoading' ></mat-spinner>
  <form [formGroup]='form' (submit)='onSavePost()' *ngIf='!isLoading'>
    <mat-form-field>
      <input
      matInput
      placeholder="Title"
      formControlName='title'
      autocomplete="off">
      <mat-error *ngIf="titleValidation.invalid && titleValidation.touched">
        Field is required
      </mat-error>
    </mat-form-field>

    <!-- Image Uploading -->
    <div class="file-picker">
      <button type="button" mat-stroked-button (click)='filePicker.click()'>Upload Image</button>
      <input type="file" #filePicker (change)='onImagePicked($event)'>
    </div>
    <!-- Image Preview section -->
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>


    <mat-form-field>
      <textarea
      matInput
      placeholder="Content"
      formControlName='content'
      autocomplete="off"></textarea>
      <mat-error *ngIf="form.get('content').invalid && form.get('content').touched">
        Field is required
      </mat-error>
    </mat-form-field>

    <div class="button-position">
      <button mat-raised-button
      color="primary" type="submit">Save</button>
    </div>
  </form>
</mat-card>
