/* You can add global styles to this file, and also import other style files */
body {
  background-color: #b3b3ff;
}

.tdf-bg-primary{
  background-color: #4da3ff !important;
}

.reactive-bg-primary{
  background-color: #809fff !important;
}

