<div class="row mt-4">
  <div class="col-md-5">
    <h3 class="display-4">User details</h3>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <td>{{userDetails?.name | titlecase}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{userDetails?.email}}</td>
        </tr>
        <tr>
          <th>Age</th>
          <td>{{userDetails?.age}}</td>
        </tr>
        <tr>
          <th>Phone No</th>
          <td>{{userDetails?.phone}}</td>
        </tr>
      </table>
      <div class="mt-4">
        <button class="btn btn-info" (click)='onEditForm()'>Edit Details</button>
      </div>
  </div>
  <div class="col-md-7">
    <div class="row mt-3">
      <div class="col-md-10">
        <div *ngIf="editForm">
        <app-edit-profile></app-edit-profile>
      </div>
      </div>
    </div>
  </div>
</div>


