.footer-position {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    color: white;
    height: 50px;
    text-align: center;
    background-color: #373A3C;
    padding: 15px 0px 10px 0px;
}
